<div ng-controller="currentOrderCtrl">

  <!--pc面包屑-->
<div class="layout page-width pc-only">
  <div class="bread-crumb"><a ui-sref="index.productList" ng-click="nav1Clicked()">首页</a><a>&gt;</a><a>当月订单</a></div>

    <div class="clr"></div>
</div>

<!--pc mobile产品列表-->
<div class="layout page-width">
    <div class="content-wrapper">
        <!-- <div class="left">
            <div class="sider-menu-wrapper">
            <a class="sider-menu active" ui-sref="index.currentOrder">当月订单</a>
            <a class="sider-menu" ui-sref="index.historyOrder({saleType:saleType,page:1,orderDate:''})">历史订单</a>
            <a class="sider-menu" ui-sref="index.personInfo">个人信息</a>
            </div>
        </div> -->
        <div class="bread-crumb mobile-only">

          <a ui-sref="index.productList" ng-click="nav1Clicked()" class="back"><b>&lt;</b> 首页</a>
          <div class="title">当月订单</div>
        </div>
        <div class="right">
          <div class="order-top-wrapper">
              <div class="order-tips">您的订单{{{true: '将', false: '已'}[isCanShop]}}在本月{{lastData}}日自动提交</div>
            </div>
            
            <div class="order-mid-wrapper">
            
                <div class="empty" ng-show="!isHaveData">
                    <div class="icon"></div>
                    <div class="wording">
                    <h1>当月还无订单</h1>
                    <h3>您本月还没有购买商品噢，去购物吧</h3>
                    </div>
                    <div class="btn">
                    <a class="button button-gray w100" ui-sref="index.productList({productClass:1,productCode:1,page:1})">去购物</a>
                    </div>
        
                </div>

                <div class="order-product-wrapper" ng-repeat="product in currentOrderData.product">
                    <div class="order-product-photo">
                   
                    <img ng-src="{{product.iconUrl}}" onerror="this.src='res/null_icon.jpg'" ui-sref="index.product({productCode:'{{product.productCode}}'})"/>
                    </div>
                    <div class="order-product-info">
                       
                       <div class="row1"> 
                           <a class="order-product-name" ui-sref="index.product({productCode:'{{product.productCode}}'})">{{product.productName}}</a>
                           <div class="order-product-no pc-only">{{product.productCode}}</div> 
                       </div>
                       <div class="row2">               
                           <span class="order-new-price">￥{{product.productRetailPrice}}</span>
                           <div class="order-product-no mobile-only">{{product.productCode}}</div>               
                       </div>
        
                       <div class="order-product-action">
                           <div  class="order-number-label">数量：</div>

                           <input type="tel" class="order-number"  placeholder="数量" id="{{'text'+$index}}" ng-model="product.requestQTY" maxlength="3" ng-blur="countBlur(product.requestQTY,$index)" ng-focus="countFocus(product.requestQTY,'text'+$index)" ng-show="isCanShop" ng-keypress="enter($event)" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"/> 
                           <div class="order-number-label" ng-show="!isCanShop">{{this.product.requestQTY}}</div>
                           <a action="del" class="order-action trush" ng-click="deleteProduct($index)" ng-show="isCanShop"></a>                       
                           <a action="fav" ng-class="{true: 'order-action order-favorite', false: 'order-action order-cancelfavorite'}[!product.isFavorite]" ng-click="favClick($index)"></a>
                           <div class="clr"></div>                
                       </div>
                       <div class="clr"></div>
                    </div>
                    <div class="clr"></div>
                </div>        
            </div>
            <div class="order-bottom-wrapper pc-only" ng-show="isHaveData">
                <div class="row1">
                您的季度余额还剩:<font class="pink06">￥{{resAmount}}</font>  共 <font class="pink06">{{count}}</font> 件商品，实付金额:<font class="pink06">￥{{payAmount}}</font>
                </div> 
                <div class="row2">
                我同意以上金额从我当月薪资中扣除<br>
                我已了解，根据公司政策要求，员工不得以任何形式、价格转卖公司产品<br>
                部门秘书：{{secretary.userName}}&nbsp;&nbsp;&nbsp;&nbsp;{{secretary.userPhone}}<br>
                </div>
            </div>
            <div class="order-action-wrapper pc-only" ng-show="isHaveData">
                <a action="cancel" class=" button button-gray w15 secondary" ng-show="isCanShop" ng-click="orderCancel()">取消订单</a>
                <a action="confirm" class=" button button-pink w15 primary" ng-show="isCanShop" ng-click ="countinueShop()">继续购物</a>       

            </div>     
            
        
        </div>
        
        <div class="clr"></div> 
        
    
    </div>
</div>


<div class="mobile-action-wrapper mobile-only" ng-show="isHaveData">
    <div class="row1">
        我同意以上金额从我当月薪资中扣除<br>
        我已了解，根据公司政策要求，员工不得以任何形式、价格转卖公司产品<br>
        部门秘书：{{secretary.userName}}&nbsp;&nbsp;&nbsp;&nbsp;{{secretary.userPhone}}<br>    
    
    </div>
    <div class="row2">
    <div class="left w50">
        <div style="font-size:16px">实付金额:￥{{payAmount}} </div>
        <div style="font-size:12px">季度余额:￥{{resAmount}} </div>
    </div>
    <div class="right w50">
        <a action="cancel" class=" button button-gray w45 secondary" ng-show="isCanShop" ng-click="orderCancel()">取消订单</a>
        <a action="confirm" class=" button button-pink w45 primary" ng-show="isCanShop" ng-click ="nav1Clicked()">继续购物</a>   
    </div> 
    <div class="clr"></div>
    </div>   

</div> 
</div>