<!--pc面包屑-->
<div class="layout page-width pc-only">
  <div class="bread-crumb"><a ui-sref="index.productList" ng-click="nav1Clicked()">首页</a><a>&gt;</a><a>收藏</a></div>
    <div class="tips" ng-if="isNotAllowOrder">可下单日期为每月{{orderDate[0]}}到{{orderDate[1]}}日，您当前日期不可下单</div>
    <div class="clr"></div>
</div>

<div id="wrapper">
    <div id="scroller">
      
<div class="layout page-width">
    
    <div class="fav-content-wrapper">
        <div class="bread-crumb mobile-only">
          <a class="back" ui-sref="index.productList" ng-click="nav1Clicked()"><b>&lt;</b> 首页</a>
          <div class="title">收藏</div>
        </div>
        <div class="tips mobile-only" ng-if="isNotAllowOrder">可下单日期为每月{{orderDate[0]}}到{{orderDate[1]}}日，您当前日期不可下单</div>
        <div class="fav-content-inner">
            <div class="empty" ng-if="isFavEmpty">
                <div class="icon"></div>
                <div class="wording">
                <h1>暂无收藏商品</h1>
                <h3>您可以将喜欢的商品点击爱心收藏噢！</h3>
                </div>
                <div class="btn">
                <a class="button button-gray w100" ng-click="nav1Clicked()">去购物</a>
                </div>

            </div>
            <div ng-if="!isFavEmpty" class="fav-product-wrapper" ng-repeat="Product in favList" ng-init="Product.productStatus=='0' && !Product.isNotAllowOrder?btnClass = 'button-s button-gray fav-add-cart':btnClass = 'button-s button-gray button-disable fav-add-cart'">
                <div class="fav-product-photo">
                  <div class="fav-no-product" ng-show="Product.productStatus != 0"></div>
                  <img ng-src="{{Product.iconUrl}}" onerror="this.src='res/null_icon.jpg'" ng-click="toDetail(Product)" style="cursor:pointer"/>
                </div>
                
                <div class="fav-product-info">
                   <a action="fav" class="fav-cancelfavorite" ng-click="favoriteClicked(Product)" ></a>
                   <a class="fav-product-name" ng-click="toDetail(Product)" style="cursor:pointer">{{Product.productName}}</a>
                   <div class="fav-row2">               
                       <span class="fav-new-price">￥{{Product.productRetailPrice}}</span>
                       <div class="fav-product-no">{{Product.productCode}}</div>               
                   </div>
    
                   <div class="fav-product-action">
                   <a class="fav-btn fav-subtract" ng-click="countSubtracted(Product)"></a>
                   <input type="tel" class="fav-number" id="{{Product.productCode}}" placeholder="数量"  value="1" maxlength="3" ng-click="numberClicked(Product)" ng-model="inputTexts[Product.productCode]" />
                   <a class="fav-btn fav-add" ng-click="countAdded(Product)"></a>
                   <a class="{{btnClass}}" ng-click="addCartClicked(Product)">加入当月订单</a>
                   </div>
                </div>            
                <div class="clr"></div>
            </div>
          <div class="clr"></div>
        </div>
      <div class="clr"></div>
    </div>

    </div>
</div>
    <!--pc分页-->    
    <div class="paginate-wrap pc-only">
      <div class="dataTables_paginate">
        <a class="num" ng-click="pageNumClicked('first')"> 首页 </a>
        <a class="num" ng-click="pageNumClicked('prev')"> << </a>
        <span ng-class="{true:'current',false:'num'}[currentPage==page]" ng-repeat="page in pages" ng-click="pageNumClicked(page)">{{page}}</span>
        <a class="num" ng-click="pageNumClicked('next')"> >> </a>
        <a class="num" ng-click="pageNumClicked('last')"> 尾页 </a>
        <div class="clr"></div>
      </div>
    </div>
</div>

<a class="cart animated" ui-sref="index.currentOrder">
  <div class="cart-inner">
  <div class="number" id="numbercircle"><b>{{{false: orderCount.productCount, true: '···'}[orderCount.productCount >= 100]}}</b></div>
    剩余额度：</br>
    {{balance.myBalance}}
  </div>
</a>