<div ng-controller="historyOrderCtrl">
<!--主体-->

<!--pc面包屑-->
<div class="layout page-width pc-only">
	<div class="bread-crumb"><a ui-sref="index.productList({discountType:'{{discountType}}',productClass:1,productCode:1,page:1})">首页</a><a>&gt;</a><a>历史订单</a></div>

    <div class="clr"></div>
</div>

<!--mobile分类选择-->
<div class="category-wrapper mobile-only">

    <div class="select-wrap  fl" action="select" cname="year" ng-click="selectList('year')">

        <div class="select-content">{{pcSelectYear.name}}</div>
        <div id="yearArrow" class="select-arrow"></div>
    </div>
    

    <div class="select-wrap  fr" action="select" cname="month" ng-click="selectList('month')">

        <div class="select-content">{{pcSelectMonth.name}}</div>
        <div id="monthArrow" class="select-arrow"></div>
    </div> 
    <div class="clr"></div>  
    
    <div class="his-option-list" id="yearList">
    <a class="list" ng-repeat="year in years" ng-click="selectItem('year',year)">{{year.name}}</a>
    </div>
    <div class="his-option-list" id="monthList">
    <a class="list" ng-repeat="month in months" ng-click="selectItem('month',month)">{{month.name}}</a>
    </div>
     
</div>


<!--pc mobile产品列表-->
<div class="bread-crumb mobile-only"><a ui-sref="index.productList({discountType:'{{discountType}}',productClass:1,productCode:1,page:1})" class="back"><b>&lt;</b> 首页</a><div class="title">历史订单</div></div>
<div id="wrapper">
    <div id="scroller"> 
<div class="layout page-width">
    <div class="his-content-wrapper">
        <div class="left">
            <div class="sider-menu-wrapper">
            <a class="sider-menu " ui-sref="index.currentOrder({discountType:'{{discountType}}'})">当月订单</a>
            <a class="sider-menu active" ui-sref="index.historyOrder({discountType:'{{discountType}}',page:1,orderDate:'',orderParam:{}})">历史订单</a>
            <a class="sider-menu" ui-sref="index.personInfo({discountType:'{{discountType}}'})">个人信息</a>
            </div>
        
        </div>
        
        
		<!--pc产品列表-->        
        <div class="right orderHistory pc-only">
            
            
        	<div class="his-top-wrapper">
                <div class="his-tips">此价格仅表示下单当月价格
                <br><div class="f12">部门秘书：{{secretary.userName}}&nbsp;&nbsp;&nbsp;&nbsp;{{secretary.userPhone}}</div>
                </div>
<!--                 <div class="his-tips-line1">此价格仅表示下单当月价格   </div>
            	<div class="his-tips">部门秘书：{{secretary.userName}}&nbsp;&nbsp;&nbsp;&nbsp;{{secretary.userPhone}}</div> -->
                <div class="his-select-wrapper">
                    <select class="select2" id="pcMonthSelecter" ng-model="pcSelectMonth" ng-change="pcSelectDate()" ng-options="m.name for m in months">
                        <!-- <option ng-selected="pcSelectMonth" value="pcSelectYear.value">{{pcSelectMonth.value}}</option> -->
                        <option value=""></option>
                    </select>
                    <!-- <select class="select2">
                    <option value="">选择月</option>
                    <option value="1">1月</option>
                    <option value="2">2月</option>
                    <option ng-repeat="month in months" value="month.value" ng-click="choice()">{{month.name}}</option>
                    </select> -->
                </div>                  
                <div class="his-select-wrapper">
                    <select class="select2" id="pcYearSelecter" ng-model="pcSelectYear" ng-change="pcSelectDate()" ng-options="y.name for y in years">
                        <!-- <option ng-selected="pcSelectYear" value="">{{pcSelectYear.name}}</option> -->
                        <option value=""></option>

                    </select>

<!--                     <select class="select2">
                    <option value="">选择年</option>
                    <option value="2016">2016</option>
                    <option ng-repeat="year in years" value="year.value">{{year.name}}</option>
             
                    </select> -->
                </div>  
                <div class="clr"></div>
            </div>
            
            <div class="mid-wrapper table">
            
                <div class="empty" ng-show="!isHaveData">
                        <div class="icon"></div>
                        <div class="wording">
                        <h1>暂无历史订单</h1>
                        <h3>您还没有开始购物商品，去购物吧</h3>
                        </div>
                        <div class="btn">
                        <a class="button button-gray w100" ui-sref="index.productList({discountType:'{{discountType}}',productClass:1,productCode:1,page:1})">去购物</a>
                        </div>
            
                    </div>
                
               
                    <div class="th" ng-show="isHaveData">
                        <!-- <div class="td w20 text-center"><span class="text-center">订单编号</span></div> -->
                        <div class="td w25 text-center"><span class="text-center">订单时间</span></div>
                        <div class="td w25 text-center"><span class="text-center">应付金额</span></div>
                        <div class="td w25 text-center"><span class="text-center">订单状态</span></div>
                        <div class="td w25 text-center"><span class="text-center">操作</span></div>
                       
                        <div class="clr"></div>
                    </div>
                    <div class="tr" ng-repeat="order in orderList track by $index" ng-show="isHaveData">
                    	 <!-- <div class="td w20"><span class="">{{order.orderID}}</span></div> -->
                         <div class="td w25"><span class="">{{order.orderYearMonth}}</span></div>
                         <div class="td w25"><span class="">￥{{order.orderRealAmount}}</span></div>
                         <div class="td w25"><span class="">{{order.orderState | stateFilter }}</span></div>
                         <div class="td w25"><a class=""  ui-sref="index.orderDetail({discountType:discountType,orderID:order.orderID})">查看</a></div>
                        
                         <div class="clr"></div>
                    </div>
           
    
                            
            </div>         
        <!--pc分页-->    
        <div class="paginate-wrap pc-only" ng-show="isHaveData">
          <div class="dataTables_paginate">
            <a ng-class="{true:'num_gray',false:'num'}[currentPage==1 || pages.length==1 || pages.length==0]" ng-click="pageNumClicked('first')"> 首页 </a>
            <a ng-class="{true:'num_gray',false:'num'}[currentPage==1 || pages.length==0]" ng-click="pageNumClicked('previous')"> 上一页 </a>
            <span ng-class="{true:'current',false:'num'}[currentPage==page]" ng-repeat="page in pages" ng-click="pageNumClicked(page)">{{page}}</span>
            <a ng-class="{true:'num_gray',false:'num'}[currentPage==pages.length || pages.length==0]" ng-click="pageNumClicked('next')"> 下一页 </a>
            <a ng-class="{true:'num_gray',false:'num'}[currentPage==pages.length || pages.length==1 || pages.length==0]" ng-click="pageNumClicked('last')"> 尾页 </a>
            <div class="clr"></div>
          </div>
        </div> 
                
            
        
        </div>



		<!--mobile产品列表-->
        
        <div class="right orderHistory mobile-only">
      
            
        	<div class="his-top-wrapper">
                <div class="his-tips">此价格仅表示下单当月价格
                <br><div class="f12">部门秘书：{{secretary.userName}}&nbsp;&nbsp;&nbsp;&nbsp;{{secretary.userPhone}}</div>
                </div>
<!--             	<div class="his-tips">部门秘书：{{secretary.userName}}&nbsp;&nbsp;&nbsp;&nbsp;{{secretary.userPhone}} </div> -->
            </div>
            
            <div class="mid-wrapper">
  
                <div class="empty" ng-show="!isHaveData">
                        <div class="icon"></div>
                        <div class="wording">
                        <h1>暂无历史订单</h1>
                        <h3>您还没有开始购物商品，去购物吧</h3>
                        </div>
                        <div class="btn">
                        <a class="button button-gray w100" ui-sref="index.productList({discountType:'{{discountType}}',productClass:1,productCode:1,page:1})">去购物</a>
                        </div>
            
                    </div>
              
                <a class="order" ng-repeat="order in orderList track by $index" ng-show="isHaveData">
                    <div class="form-row" ui-sref="index.orderDetail({discountType:discountType,orderID:order.orderID})">
<!--                       <div class="field-key w25 gray10">订单编号：</div>
                      <div class="field-value w25">{{order.orderID}}</div> -->
                      <div class="field-key w25 gray10">订单时间：</div>
                      <div class="field-value w20 ">{{order.orderYearMonth}}</div>
                      <div class="field-key w25 gray10">订单状态：</div>
                      <div class="field-value w20 ">{{order.orderState | stateFilter }}</div>
                      <div class="clr"> </div>
                    </div>            
                    <div class="form-row" ui-sref="index.orderDetail({discountType:discountType,orderID:order.orderID})">
                      <div class="field-key w25 gray10">应付金额：</div>
                      <div class="field-value w25">￥{{order.orderRealAmount}}</div>
                      <div class="clr"> </div>
                    </div> 
                </a>                            
            </div>           
   
          
                  
            
        
        </div>        
        <div class="clr"></div> 
        
    
    </div>
</div>
    </div>
</div> 
</div>
<script>
    
</script>