<div class="mobile-header-wrapper mobile-only" ng-controller='mbHeaderController'>
    <div class="mobile-header-inner" ng-click="nav1Clicked()"></div>
    <div class="header">
      <div class="mobile-onsale-wrap  fl w20" action="mobile-select-onsale" >

          <div class="mobile-onsale-content">优惠价</div>
          <div class="mobile-onsale-arrow"></div>
      </div>    

      <a class="my" action="my"></a>
      <a class="fav" ng-click='favClicked()'></a> 
    </div>
    
    <div class="my-list">
      <a class="list" ui-sref="index.currentOrder">当月订单</a>
      <a class="list" ui-sref="index.historyOrder({page:1})">历史订单</a>
      <a class="list" ui-sref="index.personInfo">个人信息</a>
      <a class="list" ui-sref="index.notice">公告</a>
    </div>
    
    <div class="mobile-onsale-list" ng-click="$event.stopPropagation();">
    <a class="list">优惠价</a>
    <a class="list">6折</a>

    </div>    
    <div class="search-wrapper" ng-show="showSearch">
      <!--<a class="button-s button-gray myFav" href="#">收藏（99）</a>-->
        
        <input type="text" class="search" id="mbSeach" ng-model="searchKey" placeholder="产品名称 或 货号" />
        <a class="search-btn " ng-click="searchClicked()"></a>
    </div>

</div>