<div class="category-wrapper mobile-only" ng-controller='mbNavController' >

    <div class="select-wrap  fl" action="select" cname="category" ng-click="divisionClicked();$event.stopPropagation();">

        <div class="select-content">{{DivisionName}}</div>
        <div class="select-arrow"></div>
    </div>
    <div class="select-wrap  fr" action="select" cname="sku" ng-click="groupClicked();$event.stopPropagation();">
      <div class="select-content">{{GroupName}}</div>
      <div class="select-arrow"></div>
    </div> 
    <div class="in-option-list" id="DivisionList" style="OVERFLOW-Y: auto; OVERFLOW-X:hidden;" ng-show="isDLShow">
        <a class="list" ng-repeat="Division in categories" ng-click="divisionItemClicked(Division)">{{Division.categoryName}}</a>
    </div>
    <div class="in-option-list" id="GroupList" style="OVERFLOW-Y: auto; OVERFLOW-X:hidden;" ng-show="isGLShow">
      <a class="list" ng-repeat="Class in Group" ng-click="groupItemClicked(Class)">{{Class.seriesName}}</a>
    </div>
    
    <div class="clr"></div> 
</div>