<div class="mobile-header-wrapper mobile-only" ng-controller='mbHeaderController'>
    <div class="mobile-header-inner" ng-click="nav1Clicked()"></div>
    <div class="header">
      <div class="mobile-onsale-wrap  fl w20" action="mobile-select-onsale" >

          <div class="mobile-onsale-content">{{currentType}}</div>
          <div class="mobile-onsale-arrow" id="typeArrow"></div>
      </div>

      <a class="my" action="my"></a>
      <a class="fav" ng-click='favClicked()'></a> 
    </div>
    
    <div class="my-list" >
      <a class="list" ui-sref="index.currentOrder" ng-click="listItemClicked(1);$event.stopPropagation();">当月订单</a>
      <a class="list" ui-sref="index.historyOrder" ng-click="listItemClicked(2);$event.stopPropagation();">历史订单</a>
      <a class="list" ui-sref="index.personInfo" ng-click="listItemClicked(3);$event.stopPropagation();">个人信息</a>
      <a class="list" ui-sref="index.notice" ng-click="listItemClicked(4);$event.stopPropagation();">公告</a>
    </div>
    
    <div class="mobile-onsale-list" ng-click="$event.stopPropagation();">
    <a class="list" ng-click="changeDiscountType(2)">优惠价</a>
    <a class="list" ng-click="changeDiscountType(6)">6折</a>

    </div>    
    <div class="search-wrapper" ng-show="showSearch">
      <!--<a class="button-s button-gray myFav" href="#">收藏（99）</a>-->
        
        <input type="text" class="search" id="mbSeach" ng-model="searchKey" placeholder="产品名称 或 货号" />
        <a class="search-btn " ng-click="searchClicked()"></a>
    </div>

</div>