<div class="category-wrapper mobile-only" ng-controller='mbNavController' >

    <div class="select-wrap  fl" action="select" cname="category" ng-click="divisionClicked()">

        <div class="select-content">{{DivisionName}}</div>
        <div class="select-arrow" id="DivisionArrow"></div>
    </div>
    <div class="select-wrap  fr" action="select" cname="sku" ng-click="groupClicked()">
      <div class="select-content">{{GroupName}}</div>
      <div class="select-arrow" id="GroupArrow"></div>
    </div> 
    <div class="clr"></div>
    <div class="in-option-list" id="DivisionList" style="OVERFLOW-Y: auto; OVERFLOW-X:hidden;">
        <a class="list" ng-repeat="Division in categories" ng-click="divisionItemClicked(Division)">{{Division.categoryName}}</a>
    </div>
    <div class="in-option-list" id="GroupList" style="OVERFLOW-Y: auto; OVERFLOW-X:hidden;" >
      <a class="list" ng-repeat="Class in Group" ng-click="groupItemClicked(Class)">{{Class.seriesName}}</a>
    </div>
    
</div>