<div ng-controller='noticeCtrl'>
    
<!--主体-->

<!--pc面包屑-->
<div class="layout page-width pc-only">
	<div class="bread-crumb"><a ui-sref="index.productList({productClass:1,productCode:1,page:1})">首页</a><a>&gt;</a><a href="#">公告</a></div>
    
    <div class="clr"></div>
</div>


<!--pc mobile产品列表-->
<div class="layout page-width">
  	
    <div class="notice-content-wrapper">
    
        <div class="bread-crumb mobile-only"><a ui-sref="index.productList({productClass:1,productCode:1,page:1})" class="back"><b>&lt;</b> 首页</a><div class="title">公告</div></div>
        <div class="notice-content-inner">
            <div class="notice-intro-title-line"></div>
            <div ng-repeat="Notice in noticeList";>    
                <div class="notice-intro-title">{{Notice.Title}}</div>
                <div class="notice-intro-content";>
                    <div ng-repeat="Desc in Notice.Desc";>
                        {{Desc}}            
                    </div>          
                </div>          
            </div>          
        </div>
        
    </div>

</div>

<!--底部-->
</div>
