<div class="pc-header-wrapper pc-only" ng-controller='pcHeaderController'>
   <div class="header">
     <div class="header-inner page-width">
        <div class="logo-wrapper">
          <a class="logo" ng-click="logoClicked()" ui-sref="index.productList"></a>
          <div class=" title">员工内购系统</div> 
            <div class="onsale" action="pc-select-onsale">
              <span>{{currentType}}</span>
              <div class="pc-onsale-list-wrapper">
                  <div class="pc-onsale-list">
                    <a class="list" ng-click="changeDiscountType()">{{typeForChnage}}</a>
                  </div>
              </div>
            </div>
        </div>
        <div class="search-wrapper">
          <input type="text" class="search" ng-model="searchKey" id="pcSeach" placeholder="产品名称 或 货号" />
          <a class="search-btn " ng-click="searchClicked()"></a>
        </div>
        <div class="my-wrapper">
          <a class="button-s button-gray icon-fav" ng-click='favClicked()'>收藏</a>
          <a class="button-s button-gray icon-my" ui-sref="index.currentOrder" ng-click="myBtnClicked()">我的</a>
        </div>
        <div class="clr"></div>
     </div>
   </div>

   <div class="nav">
     <div class="nav-inner page-width">
      <li class="menu" ng-repeat="Division in categories" ng-mouseenter="showList=true" ng-mouseleave="showList=false" ng-click='divisionClicked(Division);showList=false;'>
        <a>{{Division.categoryName}}</a>
        <div class="submenu-wrapper" ng-show="showList">
            <div class="submenu-inner" >
                <a class="submenu" ng-repeat="Group in Division.series" ng-click='groupClicked(Group,Division);showList=false;'>{{Group.seriesName}}</a>
            </div>
        </div>
      </li>
      <a class="notice" ng-click="noticeClicked()">公告</a>
      <div class="clr"></div>
     </div>
   </div>

</div>