<div class="pc-header-wrapper pc-only" ng-controller='pcHeaderController'>
   <div class="header">
     <div class="header-inner page-width">
        <div class="logo-wrapper">
          <a class="logo" href="#"></a>
          <div class=" title">员工内购系统</div> 
            <div class="onsale" action="pc-select-onsale">
              <span>优惠价</span>
              <div class="pc-onsale-list-wrapper">
                  <div class="pc-onsale-list">
                    <a class="list">6折</a>
                  </div>
              </div>
            </div>
        </div>
        <div class="search-wrapper">
          <input type="text" class="search"  placeholder="产品名称 或 货号" />
          <a class="search-btn "></a>
        </div>
        <div class="my-wrapper">
          <a class="button-s button-gray icon-fav" href="#">收藏</a>
          <a class="button-s button-gray icon-my" href="#">我的</a>
        </div>
        <div class="clr"></div>
     </div>
   </div>

   <div class="nav">
     <div class="nav-inner page-width">
      <li class="menu" ng-repeat="Division in categories" ng-mouseenter="showList=!showList" ng-mouseleave="showList=!showList" ng-click='divisionClicked(Division)'>
        <a>{{Division.name}}</a>
        <div class="submenu-wrapper" ng-show="showList" >
            <div class="submenu-inner" >
                <a class="submenu" ng-repeat="Group in Division.class2" ng-click='groupClicked(Group);$event.stopPropagation();'>{{Group.name}}</a>
            </div>
        </div>
      </li>
      <a class="notice">公告</a>
      <div class="clr"></div>
     </div>
   </div>

</div>