
<div ng-controller='productCtrl'>

<a class="proddtl-cart" ng-click="cartClicked()">
<div class="cart-inner">
<div class="number"><b>{{{false: orderCount.productCount, true: '···'}[orderCount.productCount >= 100]}}</b></div>
剩余额度:<br>
{{balance.myBalance}}
</div>

</a>


<!--主体-->

<!--pc面包屑-->
<div class="layout page-width pc-only">
	<div class="bread-crumb">
    <a ng-click="nav1Clicked()" style="cursor:pointer">{{sourcePageNamePC}}</a>
    <a>|</a>
    <a ng-click="nav2Clicked()" style="cursor:pointer">{{currentDivisionName}}</a>
    <a>&gt;</a>
    <a ng-click="nav3Clicked()" style="cursor:pointer">{{currenGroupName}}
    </a>
    <a>&gt;</a>
    <a>{{Product.productName}}</a>
  </div>
    
    <div class="clr"></div>
</div>




<!--pc mobile产品详情-->
<div class="layout page-width">
  	
    <div class="proddtl-content-wrapper">
    
        <div class="bread-crumb mobile-only"><a href="javascript:history.back();" class="back"><b>&lt;</b> {{sourcePageNameMB}}</a><div class="title">产品详情</div></div>
        <div class="proddtl-content-inner">
            
            <div class="proddtl-wrapper">
                <div class="proddtl-photo">
                 <!-- <div class="no-prod" ng-hide="Product.productStatus != 1"></div> -->
                <img ng-src="{{Product.imageUrl}}" onerror="this.src='res/null_img.jpg'" />
                </div>
                
                <div class="proddtl-info">
                   <a action="fav" ng-class="{true:'cancelfavorite pc-only',false:'favorite pc-only'}[Product.isFavorite]" ng-click="favoriteClicked(Product)"></a>                   
                   <a class="product-name pc-only" >{{Product.productName}}</a>
                   <div class="row2">
                    <div class="mobile-only proddtl-mobile-product-name">
                    {{Product.productName}}
                    <a action="fav" ng-class="{true:'cancelfavorite mobile-only',false:'favorite mobile-only'}[Product.isFavorite]" ng-click="favoriteClicked(Product)"></a>
                    </div>           
                    <div class="proddtl-form-row">
                      <div class="field-key  ">零售价：</div>
                      <div class="field-value pink08"><b>￥{{Product.productRetailPrice}}</b></div>
                      <div class="clr"> </div>
                    </div>
                    <div class="proddtl-form-row">
                      <div class="field-key  ">规　格：</div>
                      <div class="field-value ">{{{true:Product.productVolume,false:"无"}[Product.productVolume!=null]}}</div>
                      <div class="clr"> </div>
                    </div>                                      
                    <div class="proddtl-form-row">
                      <div class="field-key  ">货　号：</div>
                      <div class="field-value ">{{Product.productCode}}</div>
                      <div class="clr"> </div>
                    </div> 
                    <!-- div class="proddtl-form-row">
                      <div class="field-key  ">库　存：</div>
                      <div class="field-value ">无货</div>
                      <div class="clr"> </div>
                    </div -->                     
                    <div class="proddtl-form-row">
                      <div class="field-key  ">功　效：</div>
                      <div class="field-value ">{{{true:Product.productBenifit,false:"无"}[Product.productBenifit!=null]}}</div>
                      <div class="clr"> </div>
                    </div> 
                   </div>
    
                   <div class="product-action pc-only">
                   <a class="btn subtract" ng-click="countSubtracted(Product)"></a>
                   <input type="tel" class="number" id="{{Product.productCode}}" placeholder="数量" ng-model="inputTexts[Product.productCode]" maxlength="3" ng-blur="countBlur(inputTexts[Product.productCode],Product)" ng-focus="countFocus(inputTexts[Product.productCode],Product)"/>
                   <a class="btn add" ng-click="countAdded(Product)" ></a>
                   <a ng-class="{false:'button-s button-pink2 add-cart',true:'button-s button-gray button-disable add-cart'}[isNotAllowOrder]" ng-click="addCartClicked(Product)">立即购买</a>
                   </div>
                </div>            
                
              
                <div class="clr"></div>
            </div>
            
            <div class="proddtl-intro-title">产品介绍</div>
            <div class="proddtl-intro-content" id="prodContent">
                <!-- {{Product.productDescribe}}       -->
            </div> 
            
        </div>
    </div>
</div>

<div class="proddtl-mobile-action-wrapper mobile-only">
   
    <div class="row1">
    <div class="left">
       <a class="btn subtract" ng-click="countSubtracted(Product)"></a>
       <input type="tel" class="number" id="{{Product.productCode}}" placeholder="数量" ng-model="inputTexts[Product.productCode]" maxlength="3" ng-blur="countBlur(inputTexts[Product.productCode],Product)" ng-focus="countFocus(inputTexts[Product.productCode],Product)"/>
       <a class="btn add" ng-click="countAdded(Product)"></a>
    </div>
    <div class="right">
        <a ng-class="{false:'w80 button-s button-pink2 add-cart',true:'w80 button-s button-gray button-disable add-cart'}[isNotAllowOrder]" ng-click="addCartClicked(Product)">立即购买</a>
       
    </div> 
    <div class="clr"></div>
    </div>   

</div> 

<!--底部-->
</div>  
