<div ng-controller='prductListController'>
<!--pc面包屑-->
<div class="layout page-width pc-only">
  <div class="bread-crumb">
    <a ng-click="nav1Clicked()" ui-sref="index.productList">首页</a>
    <a>&gt;</a>
    <a ng-click="nav2Clicked()" ui-sref="index.productList">{{currentDivisionName}}</a>
    <a ng-show="isGroupNameShow">&gt;</a>
    <a ng-show="isGroupNameShow" ng-click="nav3Clicked()" ui-sref="index.productList">{{currenGroupName}}</a>
  </div>
  <div class="tips" ng-if=false>可下单日期为每月1到17日，您当前日期不可下单</div>
  <div class="clr"></div>
</div>

<div id="wrapper">
    <div id="scroller">

<div class="layout page-width">
  
  <div class="home-content-wrapper">
    <div class="tips mobile-only" ng-if=false>可下单日期为每月1到17日，您当前日期不可下单</div>
    <div class="content-inner">
    <div class="product-wrapper" ng-repeat="Product in pdList.products" ng-init="Product.productStatus=='0'?btnClass = 'button-s button-gray add-cart':btnClass = 'button-s button-gray button-disable add-cart'";>
      <div class="product-photo">
        <div class="no-product" ng-show="Product.productStatus != 0"></div>
        <img ng-src="{{Product.iconUrl}}" onerror="this.src='res/null_icon.jpg'" ui-sref="index.product({productCode:'{{Product.productCode}}'})" style="cursor:pointer"/>
      </div>
      <div class="product-info">
        <a ng-class="{true:'cancelfavorite',false:'favorite'}[Product.isFavorite]" ng-click="favoriteClicked(Product)"></a>
        <a class="product-name" ui-sref="index.product({productCode:'{{Product.productCode}}'})">{{Product.productName}}</a>
        <div class="row2">
          <span class="new-price">￥{{Product.productRetailPrice}}</span>
          <div class="product-no">{{Product.productCode}}</div>
        </div>
        <div class="product-action" ng-init="falg = Product.productCode">
          <a class="btn subtract" ng-click="countSubtracted(Product)"></a>
          <input type="tel" class="number" id="{{Product.productCode}}" ng-click="numberClicked(Product)"  placeholder="数量" maxlength="3" ng-model="inputTexts[Product.productCode]" ></input>
          <a class="btn add" ng-click="countAdded(Product)"></a>
          <a class="{{btnClass}}" ng-click="addCartClicked(Product)">加入当月订单</a>
        </div>
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
</div>

   
        
    </div>
</div>
    
  <!--pc分页-->    
  <div class="paginate-wrap pc-only">
    <div class="dataTables_paginate">
      <span ng-class="{true:'current',false:'num'}[currentPage==page]" ng-repeat="page in pages" ng-click="pageNumClicked(page)">{{page}}</span>
      <a class="num" ng-click="pageNumClicked('next')"> >> </a>
      <div class="clr"></div>
    </div>
  </div>

</div>

<a class="cart animated" ng-click="cartClicked()" ui-sref="index.currentOrder">
  <div class="cart-inner">
  <div class="number" id="numbercircle">{{orderCount.productCount}}</div>
    剩余额度：</br>
    {{balance.myBalance}}
  </div>
</a>
</div>