<div class="bg" ng-controller="registCtrl">
<!--pc头-->
<div class="regist-header">
<div class="mk">
<img src="img/mk.png" />

</div>

</div>

<div class="popup animated">

   
    <div class="">

       
        <div class="form-row">
     
          <a class="btn-reg" action="login" ng-click="regist()">注册</a>
          <a class="btn-cancel" action="login" ng-click="giveup()">放弃</a>
    
        </div>   
    </div>
  
</div>


<div class="regist-footer">©2003-2016 版权所有 玫琳凯（中国）化妆品有限公司</div>
</div>